<div class="card col-md-3" style="width: 18rem;">
  <img class="card-img-top" src="../public/images/carrot.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vegetable Name</h5>
    <ul class="list-group">
      <li class="list-group-item">one</li>
      <li class="list-group-item">two</li>
      <li class="list-group-item">three</li>
      <li class="list-group-item">four</li>
    </ul>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<style>
  .list-group {
    flex-direction: row;
  }

  .list-group-item {
    padding: 5px;
    margin: 5px;
  }
</style>